/* app-card.component.css */
.card-deck {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Modificado para mostrar tres columnas */
  gap: 1%;
  padding: 2%;
  background-color: #f8f9fa;
}
.card {
  width: 100%;
  background-color: #fff; /* Fondo blanco para las tarjetas */
  border: 1px solid rgba(0, 0, 0, 0.125); /* Borde sutil */
  border-radius: 8px; /* Esquinas redondeadas */
  overflow: hidden; /* Evitar bordes redondeados de la imagen se vean fuera de la tarjeta */
}

/* .card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
} */

.card-footer {
  margin-top: auto; /* Empujar el pie de tarjeta hacia abajo */
}

div.cardpuntero:hover {
  background-color: #e3f2fd; /* Color de fondo cuando se pasa el ratón por encima */
}

div.cardpuntero {
  background-color: #fff; /* Fondo blanco para la interacción */
  border-radius: 8px; /* Esquinas redondeadas */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.imagen-de-prueba {
  width: 100%;
  height: 50%;
  object-fit: cover; /* Ajustar la imagen manteniendo las proporciones y recortándola */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
}

.card-title {
  margin-bottom: 0.5rem;
  background-color: rgb(187, 192, 198);
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  text-decoration: underline; /* Subraya el texto */
}
/* Alineación vertical del contenido dentro de la tarjeta */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
