<nav class="navbar navbar-expand-lg navbar-light gradient">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/home'">
      <img
        src="/assets/Logo_Gametory.png"
        alt=""
        width="120"
        height="35"
        class="d-inline-block align-text-top"
      />
      Gametory
    </a>

    <div
      class="collapse navbar-collapse order-3 order-lg-2"
      id="navbarSupportedContent"
    >
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <a class="nav-link" href="/Galería" role="button" aria-expanded="false">
        Galería
      </a>
      <ng-container *ngIf="!loggedIn">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Cuenta
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" (click)="abrirModal()" role="button"
                >Iniciar sesión</a
              >
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['/signup']"
                >Registrarse</a
              >
            </li>
          </ul>
        </li>
      </ng-container>
    
   
    </ul>

      <form class="d-flex container-fluid justify-content-start">
        <a class="ms-auto" [routerLink]="['/Libreria']">
       <!--    <img
            src="/assets/Libros_icono.png"
            alt=""
            width="35"
            height="35"
            class="d-inline-block"
          /> -->
        </a>

        <div class="divImagenUsuario" *ngIf="loggedIn">
          <img class="ImagenUsuario" src="/assets/ImagenUsuario.jpg" alt="" />
        </div>

        <div
          class="header p-0"
          style="background-color: transparent"
          *ngIf="loggedIn"
        >
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="header-right">
                  <div class="profile-box ml-15">
                    <button
                      class="dropdown-toggle bg-transparent border-0"
                      type="button"
                      id="profile"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <div class="profile-info">
                        <div class="info">
                          <h6>{{ userData.NombreUsuario }}</h6>
                          <div class="image"></div>
                        </div>
                      </div>
                      <i class="bi bi-chevron-down"></i>
                    </button>
                    <ul
                      class="dropdown-menu dropdown-menu-end mt-0"
                      aria-labelledby="profile"
                    >
                      <li>
                        <a [routerLink]="'/perfiles'">
                          <i class="bi bi-list"></i> Perfiles
                        </a>
                      </li>
                      <li>
                        <a (click)="logout()" role="button"
                          ><i class="bi bi-box-arrow-left"></i> Cerrar Sesion</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>

<div
  class="modal fade"
  id="modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="signInModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content card-style">
      <div class="modal-header">
        <h5 class="modal-title" id="signInModalTitle">Inicio de sesion</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="form"
          (ngSubmit)="iniciodesesion()"
          class="needs-validation"
          novalidate
        >
          <div class="row">
            <div class="col-lg-12">
              <div class="input-style-1">
                <label>Correo Electronico</label>
                <input
                  type="email"
                  placeholder="email..."
                  formControlName="email"
                  [ngClass]="{ 'is-invalid': !form.get('email')?.valid }"
                />
                <div
                  *ngIf="form.controls['email'].errors?.['required']"
                  class="invalid-feedback"
                >
                  * Campo requerido
                </div>
                <div
                  *ngIf="form.controls['email'].errors?.['email']"
                  class="invalid-feedback"
                >
                  * Correo invalido
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="input-style-1">
                <label>Contraseña</label>
                <input
                  type="password"
                  placeholder="password..."
                  formControlName="password"
                  [ngClass]="{ 'is-invalid': !form.get('password')?.valid }"
                />
                <div
                  *ngIf="form.controls['password'].errors?.['required']"
                  class="invalid-feedback"
                >
                  * Campo requerido
                </div>
                <div
                  *ngIf="form.controls['password'].errors?.['minlength']"
                  class="invalid-feedback"
                >
                  * Al menos 8 caracteres
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="button-group d-flex justify-content-center flex-wrap">
              <button
                type="submit"
                class="main-btn primary-btn btn-hover w-100 text-center"
                [disabled]="form.invalid"
              >
                Entrar
              </button>
         
            </div>
            <div *ngIf="loginError" class="alert alert-danger">
              {{ loginError }}
            </div>
          </div>

        </form>
        <div class="singin-option pt-40">
          <p class="text-sm text-medium text-dark text-center">
            ¿No esta registrado?
            <a [routerLink]="['/signup']">Registrarse</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
