.divImagenUsuario{

    padding-left: 1%;
}


.ImagenUsuario {
    width: 60px; /* Establece el ancho en 50 píxeles */
    height: 60px; /* Establece el alto en 50 píxeles */
}

.info {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.gradient {
    background-image: linear-gradient(15deg, #7fc8f3 0%, #f8f8f8 100%);
}

.fab-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.fab-container:hover {
    height: 100%;
}

.fab-container:hover .sub-button:nth-child(2) {
    transform: translateY(-80px);
}

.fab-container:hover .sub-button:nth-child(3) {
    transform: translateY(-140px);
}

.fab-container:hover .sub-button:nth-child(4) {
    transform: translateY(-200px);
}

.fab-container:hover .sub-button:nth-child(5) {
    transform: translateY(-260px);
}

.fab-container:hover .sub-button:nth-child(6) {
    transform: translateY(-320px);
}

.fab-container .fab {
    position: relative;
    height: 70px;
    width: 70px;
    background-color: #4ba2ff;
    border-radius: 50%;
    z-index: 2;
}

.fab-container .fab::before {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: inherit;
    border-radius: 0 0 10px 0;
    z-index: -1;
}

.fab-container .fab .fab-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.fab-container .fab .fab-content .material-icons {
    color: white;
    font-size: 48px;
}

.fab-container .sub-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    background-color: #4ba2ff;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.fab-container .sub-button:hover {
    cursor: pointer;
}

.fab-container .sub-button .material-icons {
    color: white;
    padding-top: 6px;
}

.fab-container2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
    position: fixed;
    bottom: 30px;
    left: 30px;
}

.fab-container2:hover {
    height: 100%;
}

.fab-container2:hover .sub-button2:nth-child(2) {
    transform: translateY(-80px);
}

.fab-container2:hover .sub-button2:nth-child(3) {
    transform: translateY(-140px);
}

.fab-container2:hover .sub-button2:nth-child(4) {
    transform: translateY(-200px);
}

.fab-container2:hover .sub-button2:nth-child(5) {
    transform: translateY(-260px);
}

.fab-container2:hover .sub-button2:nth-child(6) {
    transform: translateY(-320px);
}

.fab-container2 .fab2 {
    position: relative;
    height: 70px;
    width: 70px;
    background-color: #4ba2ff;
    border-radius: 50%;
    z-index: 2;
}

.fab-container2 .fab2::before {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 35px;
    width: 35px;
    background-color: inherit;
    border-radius: 0 0 10px 0;
    z-index: -1;
}

.fab-container2 .fab2 .fab-content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.fab-container2 .fab .fab-content2 .material-icons {
    color: white;
    font-size: 48px;
}

.fab-container2 .sub-button2 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    background-color: #4ba2ff;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.fab-container2 .sub-button2:hover {
    cursor: pointer;
}

.fab-container2 .sub-button2 .material-icons {
    color: white;
    padding-top: 6px;
}
