<!DOCTYPE html>
<html lang="en">
  <body>
    <main class="d-flex flex-nowrap">
      <div
        class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
        style="width: 280px"
      >
        <a
          href="/home"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <svg class="bi pe-none me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
          </svg>
          <span class="fs-4">Gametory</span>
        </a>
        <hr />
        <a
          href="/perfiles"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <svg class="bi pe-none me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
          </svg>
          <span class="fs-4">Perfiles</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              (click)="mostrarAgregarPerfil()"
            >
              Agregar Perfil
            </a>
          </li>
          <li>
            <a
              class="nav-link actualizar text-white"
              [class.disabled]="!perfilSeleccionado"
              (click)="mostrarActualizarPerfil()"
            >
              Actualizar Perfil
            </a>
          </li>
          <li>
            <a
              class="nav-link borrar text-white"
              [class.disabled]="!perfilSeleccionado"
              (click)="borrarPerfil()"
            >
              Borrar Perfil
            </a>
          </li>
        </ul>
        <hr />
      </div>

      <div class="b-example-divider b-example-vr"></div>
      <div class="flex-grow-1">
        <div class="row animated fadeIn">
          <div class="container">
            <div
              class="mensaje selecciona row g-0"
              *ngIf="
                !(mostrarAgregar || mostrarActualizar || mostrarBorrar) &&
                perfiles &&
                perfiles.length > 0
              "
            >
              Selecciona un perfil
            </div>
            <div
              class="mensaje crea row g-0"
              *ngIf="
                !(mostrarAgregar || mostrarActualizar || mostrarBorrar) &&
                (!perfiles || perfiles.length === 0)
              "
            >
              Crea un perfil
            </div>
            <div class="scrollable-container">
              <div class="row g-0" *ngIf="default">
                <div *ngFor="let perfil of perfiles" class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                      <!-- Utiliza [(ngModel)] para vincular el estado del checkbox con perfilSeleccionado -->
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          [id]="'flexRadioDefault' + perfil.PerfilObjetivoID"
                          name="flexRadioDefault"
                          [(ngModel)]="perfilSeleccionado"
                          [value]="perfil"
                          (ngModelChange)="
                            seleccionarPerfil($event ? perfil : null)
                          "
                        />
                        <label
                          class="form-check-label"
                          [for]="'flexRadioDefault' + perfil.PerfilObjetivoID"
                        >
                          <p class="card-text">
                            Nombre: {{ perfil.NombreObjetivo }}
                          </p>
                          <p class="card-text">
                            Edad: {{ perfil.EdadObjetivo }} años
                          </p>
                          <p class="card-text">
                            Género: {{ perfil.GeneroObjetivo }}
                          </p>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" *ngIf="mostrarAgregar">
              <h2>Agregar un nuevo perfil</h2>

              <form (ngSubmit)="agregarPerfil()" #perfilForm="ngForm">
                <table class="table">
                  <thead>
                    <tr class="table-dark">
                      <th scope="col" class="titulo_columna">
                        <label for="nombre">Nombre</label>
                      </th>
                      <th scope="col" class="titulo_columna" [colSpan]="2">
                        <input
                          type="text"
                          id="nombre"
                          name="nombre"
                          [(ngModel)]="nuevoPerfil.nombre"
                          required
                        />
                      </th>
                    </tr>

                    <tr class="table-dark">
                      <th class="titulo_columna">
                        <label for="edad">Edad</label>
                      </th>
                      <th [colSpan]="2">
                        <input
                          type="number"
                          id="edad"
                          name="edad"
                          [(ngModel)]="nuevoPerfil.edad"
                          min="0"
                          required
                        />
                      </th>
                    </tr>
                    <tr class="table-dark">
                      <th class="titulo_columna">
                        <label for="genero">Género</label>
                      </th>
                      <th [colSpan]="2">
                        <select
                          id="genero"
                          name="genero"
                          [(ngModel)]="nuevoPerfil.genero"
                          required
                        >
                          <option value="Masculino">Masculino</option>
                          <option value="Femenino">Femenino</option>
                          <!-- Puedes agregar más opciones según sea necesario -->
                        </select>
                      </th>
                    </tr>

                    <tr class="table-dark">
                      <th scope="col" class="titulo_columna">Cualidades</th>
                      <th scope="col" class="titulo_columna">Valor Minimo</th>
                      <th scope="col" class="titulo_columna">Rango</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let cualidad of cualidades; let i = index"
                      [ngClass]="{
                        'table-primary': i === 0 || i === 7,
                        'table-success': i === 1,
                        'table-danger': i === 2,
                        'table-warning': i === 3,
                        'table-info': i === 4,
                        'table-light': i === 5,
                        'table-secondary': i === 6
                      }"
                    >
                      <th scope="row">
                        <label
                          for="{{ 'customRange' + cualidad.id }}"
                          class="form-label"
                          >{{ cualidad.nombre }}</label
                        >
                      </th>
                      <td>
                        <div id="{{ 'rangeValue' + cualidad.id }}">0</div>
                      </td>
                      <td>
                        <input
                          type="range"
                          class="form-range"
                          [id]="'customRange' + cualidad.id"
                          name="cualidad{{ i }}"
                          min="0"
                          max="100"
                          step="0.5"
                          [(ngModel)]="cualidadesValores['valor' + cualidad.id]"
                          (input)="actualizarValorRango($event, cualidad.id)"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>

                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="!perfilForm.valid"
                >
                  Agregar Perfil
                </button>
              </form>
            </div>

         
            <div class="row" *ngIf="mostrarActualizar">
              
              <h2>Actualizar perfil</h2>

              <form (ngSubmit)="actualizarPerfil()" #perfilForm="ngForm">
                <table class="table">
                  <thead>
                    <tr class="table-dark">
                      <th scope="col" class="titulo_columna">
                        <label for="nombre">Nombre</label>
                      </th>
                      <th scope="col" class="titulo_columna" [colSpan]="2">
                        <input
                          type="text"
                          id="nombre"
                          name="nombre"
                          [(ngModel)]="nuevoPerfil.nombre"
                          required
                        />
                      </th>
                    </tr>

                    <tr class="table-dark">
                      <th class="titulo_columna">
                        <label for="edad">Edad</label>
                      </th>
                      <th [colSpan]="2">
                        <input
                          type="number"
                          id="edad"
                          name="edad"
                          min="0"
                          [(ngModel)]="nuevoPerfil.edad"
                          required
                        />
                      </th>
                    </tr>
                    <tr class="table-dark">
                      <th class="titulo_columna">
                        <label for="genero">Género</label>
                      </th>
                      <th [colSpan]="2">
                        <select
                          id="genero"
                          name="genero"
                          [(ngModel)]="nuevoPerfil.genero"
                          required
                        >
                          <option value="Masculino">Masculino</option>
                          <option value="Femenino">Femenino</option>
                          <!-- Puedes agregar más opciones según sea necesario -->
                        </select>
                      </th>
                    </tr>

                    <tr class="table-dark">
                      <th scope="col" class="titulo_columna">Cualidades</th>
                      <th scope="col" class="titulo_columna">Valor Minimo</th>
                      <th scope="col" class="titulo_columna">Rango</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let cualidad of cualidades; let i = index"
                      [ngClass]="{
                        'table-primary': i === 0 || i === 7,
                        'table-success': i === 1,
                        'table-danger': i === 2,
                        'table-warning': i === 3,
                        'table-info': i === 4,
                        'table-light': i === 5,
                        'table-secondary': i === 6
                      }"
                    >
                      <th scope="row">
                        <label
                          for="{{ 'customRange' + cualidad.id }}"
                          class="form-label"
                          >{{ cualidad.nombre }}</label
                        >
                      </th>
                      <td>
                        <div id="{{ 'rangeValue' + cualidad.id }}">
                          {{ cualidadesValores["valor" + cualidad.id] }}
                        </div>
                      </td>
                      <td>
                        <input
                          type="range"
                          class="form-range"
                          [id]="'customRange' + cualidad.id"
                          name="cualidad{{ i }}"
                          min="0"
                          max="100"
                          step="0.5"
                          [(ngModel)]="cualidadesValores['valor' + cualidad.id]"
                          (input)="actualizarValorRango($event, cualidad.id)"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>

                <button type="submit" class="btn btn-primary" [disabled]="!perfilForm.valid">
                  Actualizar Perfil
                </button>
              </form>
            </div>

            <!-- Div para Borrar Perfil -->
            <div class="row" *ngIf="mostrarBorrar">
              <!-- Contenido del div para Borrar Perfil -->
              <p>Aquí puedes borrar un perfil.</p>
              <button
                class="btn btn-danger"
                [disabled]="!perfilSeleccionado"
                (click)="borrarPerfil()"
              >
                Borrar Perfil
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
