
.calificacionesusuario{

width: 49%;
 border-color: black;
 margin-right: 2%;
 border: 2px;
 background-color: rgba(111, 238, 238, 0.773);
}


.calificacionesadmin{


  width: 49%;
  border-color: black;
  border: 2px;
  background-color: cornflowerblue;

}


.bar-container {
    background-color: #f0f0f0;
    padding: 10px;
    transition: opacity 0.5s ease;
  }
  
  .bar {
    margin-bottom: 10px;
  }
  
  .bar-label {
    font-size: 12px;
    color: #555;
  }
  
  .bar-inner {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #007bff;
    border: 1px solid #000;
    color: white;
    padding: 5px;
  }
  
  .percentage {
    margin-right: 5px; /* Ajusta el margen derecho según sea necesario */
  }
.contenedor_principal{

    background-color: rgb(148, 135, 135);
}

.carta_principal{

    background-color: rgb(98, 111, 155);
}


.parteInferior{

    background-color: rgb(149, 158, 166);
}

.div_Grafica{
    background-color: white;
}

.calificaciones{


}

.comentarios{

}