.contenedor_principal{

    background-color: rgb(148, 135, 135);
}

.carta_principal{

    background-color: rgb(98, 111, 155);
}


.parteInferior{

    background-color: rgb(149, 158, 166);
}


.calificaciones{


}

.comentarios{

}