<!-- <app-loading *ngIf="loadingProduct"></app-loading> -->
<div class="row animated fadeIn" *ngIf="!loadingProduct">
  <div class="container">
    <div class="container1">
      <div class="container2">
        <div class="note-wrapper success-alert">
          <div class="alert">
            <h5 class="text-bold mb-15">Note:</h5>
            <p class="text-md text-black">
              hello! Thank you for being a member of our website, you can scan
              this QR code to see videos where the products we offer are used.
            </p>
          </div>
        </div>

      <!--   <div class="qr">
          <qrcode *ngIf="flag_qr === true" [qrdata]="urls[random].url" [errorCorrectionLevel]="'M'"></qrcode>
        </div> -->
      </div>

      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ videogame.portadaURL }}" width="1fr" class="card-img-top" alt="error" />
          </div>

          <div class="card-body">
            <h5 class="card-title">{{ videogame.titulo }}</h5>
            <p class="card-text">{{ videogame.descripcion }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Manufacturer: {{ videogame.categoria }}
            </li>
            <li class="list-group-item">Category: {{ videogame.clasificacion }}</li>
            <li class="list-group-item">
              SubCategory: {{ videogame.puntuacion }}
            </li>
        <!--     <li class="list-group-item">Contents: {{ videogame.contents }}</li> -->
          
          </ul>
          <div class="card-body" *ngIf="(user | async)">
           <!--  <input name="amount_input" [(ngModel)]="amount" #name="ngModel" type="number" class="form-control" min="1"
              max="99" required /> -->
            <span class="validity"></span>
           <!--  <button class="btn btn-success" *ngIf="!name.invalid" (click)="addProduct_tocart_byid(name.value)">
              Add To Cart
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <swal #added title="Added to cart" text="The videogame was added to your cart" icon="success"></swal> -->