<div class="row g-0 auth-row">
    <div class="col-lg-6">
        <div class="auth-cover-wrapper bg-primary-100">
            <div class="auth-cover">
                <div class="title text-center">
                    <h1 class="text-primary mb-10">Get Started</h1>
                    <p class="text-medium">
                        Start creating an account to get the full experience
                        <br class="d-sm-block">
                        at Super-duper.
                    </p>
                </div>
                <div class="cover-image">
                    <img height="500"
                        src="https://firebasestorage.googleapis.com/v0/b/web-2022-f5262.appspot.com/o/logo.png?alt=media&token=46c212fa-4792-443a-b0c2-2ecc4bc2adc2"
                        alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="signup-wrapper">
            <div class="form-wrapper">
                <h6 class="mb-15">Sign up</h6>
                <p class="text-sm mb-25">
                    Start creating an account.
                </p>
                <form [formGroup]="form" (ngSubmit)="signUp()" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-style-1">
                                <label>Name</label>
                                <input type="text" placeholder="name..." formControlName="displayName"
                                    [ngClass]="{'is-invalid':!form.get('displayName')?.valid}" />
                                <div *ngIf="form.controls['displayName'].errors?.['required']" class="invalid-feedback">
                                    * Field required
                                </div>
                                <div *ngIf="form.controls['displayName'].errors?.['minlength']"
                                    class="invalid-feedback">
                                    * At least 3 characters
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-style-1">
                                <label>Email</label>
                                <input type="email" placeholder="email..." formControlName="email"
                                    [ngClass]="{'is-invalid':!form.get('email')?.valid}">
                                <div *ngIf="form.controls['email'].errors?.['required']" class="invalid-feedback">
                                    * Field required
                                </div>
                                <div *ngIf="form.controls['email'].errors?.['email']" class="invalid-feedback">
                                    * Invalid email
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-style-1">
                                <label>Password</label>
                                <input type="password" placeholder="password..." formControlName="password"
                                    [ngClass]="{'is-invalid':!form.get('password')?.valid}">
                                <div *ngIf="form.controls['password'].errors?.['required']" class="invalid-feedback">
                                    * Field required
                                </div>
                                <div *ngIf="form.controls['password'].errors?.['minlength']" class="invalid-feedback">
                                    * At least 8 characters
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="input-style-1">
                                <label>Confirm password</label>
                                <input type="password" placeholder="confirm password..." formControlName="confirmPassword"
                                    [ngClass]="{'is-invalid':!form.get('confirmPassword')?.valid}">
                                <div *ngIf="form.controls['confirmPassword'].errors?.['required']" class="invalid-feedback">
                                    * Field required
                                </div>
                                <div *ngIf="form.controls['confirmPassword'].errors?.['minlength']" class="invalid-feedback">
                                    * At least 8 characters
                                </div>
                                <div *ngIf="form.controls['confirmPassword'].errors?.['mustMatch']" class="invalid-feedback">
                                    * Not match
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="input-style-1">
                                <label>Address</label>
                                <input type="text" placeholder="address..." formControlName="address"
                                    [ngClass]="{'is-invalid':!form.get('address')?.valid}">
                                <div *ngIf="form.controls['address'].errors?.['required']" class="invalid-feedback">
                                    * Field required
                                </div>
                                <div *ngIf="form.controls['address'].errors?.['minlength']" class="invalid-feedback">
                                    * At least 3 characters
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-style-1">
                                <label>City</label>
                                <input type="text" placeholder="city..." formControlName="city"
                                    [ngClass]="{'is-invalid':!form.get('city')?.valid}">
                                <div *ngIf="form.controls['city'].errors?.['required']" class="invalid-feedback">
                                    * Field required
                                </div>
                                <div *ngIf="form.controls['city'].errors?.['minlength']" class="invalid-feedback">
                                    * At least 3 characters
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    
                        <div class="col-12">
                            <div class="button-group d-flex justify-content-center flex-wrap">
                                <button type="submit" class="main-btn primary-btn btn-hover w-100 text-center">
                                    Sign Up
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>