<div class="container-fluid">
  <div class="row g-0 mt-6">
    <div class="col-md-6 g-5">
      <div class="auth-cover-wrapper bg-primary-100">
        <div class="auth-cover">
          <div class="title text-center">
            <h1 class="text-primary mb-10">Bienvenido</h1>
            <p class="text-medium">
              Crea una cuenta para unirte a nuestra comunidad
              <br class="d-sm-block" />
              Gametory.
            </p>
          </div>
          <div class="cover-image">
            <!--    <img height="500"
                        width="500"
                            src="/assets/Logo_Gametory.png"
                            alt=""> -->
            <img src="/assets/Logo_Gametory.png" class="img-fluid" alt="..." />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 g-5">
      <div class="signup-wrapper">
        <div class="form-wrapper">
          <h6 class="mb-15">Registro</h6>
          <p class="text-sm mb-25">¡Comencemos creando una cuenta!</p>
          <form
            [formGroup]="form"
            (ngSubmit)="Registro()"
            class="needs-validation"
            novalidate
          >
            <div class="row">
              <div class="col-lg-6 g-1">
                <div class="input-style-1">
                  <div class="row">
                    <label class="inputclase">Nombre</label>
                  </div>
                  <div class="row">
                    <input
                      type="text"
                      placeholder="nombre..."
                      formControlName="nombre"
                      [ngClass]="{ 'is-invalid': !form.get('nombre')?.valid }"
                    />
                    <div
                      *ngIf="form.controls['nombre'].errors?.['required']"
                      class="invalid-feedback"
                    >
                      * Campo Obligatorio
                    </div>
                    <div
                      *ngIf="form.controls['nombre'].errors?.['minlength']"
                      class="invalid-feedback"
                    >
                      * Un minimo de 3 caracteres
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 g-1">
                <div class="input-style-1">
                  <div class="row">
                    <label class="inputclase">Correo</label>
                  </div>
                  <div class="row">
                    <input
                      type="email"
                      placeholder="correo..."
                      formControlName="correo"
                      [ngClass]="{
                        'is-invalid':
                          !form.get('correo')?.valid &&
                          form.get('correo')?.touched
                      }"
                    />
                    <div
                      *ngIf="
                        form.get('correo')?.hasError('required') &&
                        form.get('correo')?.touched
                      "
                      class="invalid-feedback"
                    >
                      * Campo Obligatorio
                    </div>
                    <div
                      *ngIf="
                        form.get('correo')?.hasError('pattern') &&
                        form.get('correo')?.touched
                      "
                      class="invalid-feedback"
                    >
                      * Correo inválido
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 g-1">
                <div class="input-style-1">
                  <div class="row">
                    <label class="inputclase">Contraseña</label>
                  </div>

                  <div class="row">
                    <input
                      type="password"
                      placeholder="contraseña..."
                      formControlName="contraseña"
                      [ngClass]="{
                        'is-invalid': !form.get('contraseña')?.valid
                      }"
                    />

                    <div
                      *ngIf="form.controls['contraseña'].errors?.['required']"
                      class="invalid-feedback"
                    >
                      * Campo Obligatorio
                    </div>
                    <div
                      *ngIf="form.controls['contraseña'].errors?.['minlength']"
                      class="invalid-feedback"
                    >
                      * Un minimo de 8 caracteres
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 g-1">
                <div class="input-style-1">
                  <div class="row">
                    <label class="inputclase">Confirmar contraseña</label>
                  </div>

                  <div class="row">
                    <input
                      type="password"
                      placeholder="confirma contraseña..."
                      formControlName="confirmacion_contraseña"
                      [ngClass]="{
                        'is-invalid': !form.get('confirmacion_contraseña')
                          ?.valid
                      }"
                    />
                    <div
                      *ngIf="form.controls['confirmacion_contraseña'].errors?.['required']"
                      class="invalid-feedback"
                    >
                      * Campo Obligatorio
                    </div>
                    <div
                      *ngIf="form.controls['confirmacion_contraseña'].errors?.['minlength']"
                      class="invalid-feedback"
                    >
                      * Un minimo de 8 caracteres
                    </div>
                    <div
                      *ngIf="form.controls['confirmacion_contraseña'].errors?.['mustMatch']"
                      class="invalid-feedback"
                    >
                      No es la misma contraseña
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 mt-4">
                <div
                  class="button-group d-flex justify-content-center flex-wrap"
                >
                <button
  type="submit"
  class="main-btn primary-btn btn-hover w-100 text-center"
  [disabled]="!form.valid || form.hasError('mustMatch')"
>
  Finalizar Registro
</button>
                </div>
                <div *ngIf="!form.valid" class="mt-2 text-danger">
                  Por favor, complete correctamente todos los campos.
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
