<app-search (messageEvent)="receiveMessage($event)"></app-search>
<div *ngIf="!flag_search" id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner ">
        <div class="carousel-item active" data-bs-interval="7000">
            <img src="https://i.ibb.co/tK4ZGBT/banner1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-block justify-content-center align-items-center">
                <div class="mask" style="background-color: rgba(131, 44, 44, 0.4);">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div>
                            <h1 class="mb-3 mt-1 text-white">Dairy</h1>
                            <h4 class="mb-4 text-white">Check our products</h4>
                            <a class="btn btn-outline-light btn-lg mb-2" href="/dairy" role="button">Go</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="7000">
            <img src="https://i.ibb.co/1bM6M9y/banner2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-block justify-content-center align-items-center">
                <div class="mask" style="background-color: rgba(49, 35, 152, 0.4);">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div>
                            <h1 class="mb-3 mt-1 text-white">Vegetables</h1>
                            <h4 class="mb-4 text-white">Check our products</h4>
                            <a class="btn btn-outline-light btn-lg mb-2" href="/vegetables" role="button">Go</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="7000">
            <img src="https://i.ibb.co/hcN3Jwh/banner3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-block">
                <div class="mask" style="background-color: rgba(153, 153, 55, 0.4);">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div>
                            <h1 class="mb-3 mt-1 text-white">Fruits</h1>
                            <h4 class="mb-4 text-white">Check our products</h4>
                            <a class="btn btn-outline-light btn-lg mb-2" href="/fruits" role="button">Go</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>